neo-lux-demo-npc/bin/
neo-lux-demo-npc/obj/
*/bin/
*/obj/
packages/
.vs/
*/Library/
*/Temp/
*/UnityPackageManager/
neo-lux-experimental/
.DS_STORE
Demos/*/*/bin/
Demos/*/*/obj/
Demos/*/bin/
Demos/*/obj/

Demos/NeoUnity/Library/
Demos/NeoUnity/Temp/
Demos/NeoUnity/UnityPackageManager/
